.forecast {
  width: 40%;
  float: left;
  height: 100%;
}

.temp-icon {
  height: 10rem;
  width: 10rem;
}

.today-weather h3 {
  text-transform: capitalize;
  font-size: 50px;
  color: #fff;
  width: 80%;
  margin: 0 auto 10px;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: 1px solid #eee;
}

.today-weather ul li {
  width: 74%;
  margin: 0 auto;
  line-height: 39px;
  border-width: thin;
  border-bottom: 1px solid #777;
  color: #eee;
  font-weight: 600;
  text-align: left;
  padding-left: 20px;
}

.today-weather ul li:nth-child(5) {
  border-bottom: none;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.search-box button {
  text-indent: -9999px;
  background: url("https://images.avishkaar.cc/workflow/newhp/search-white.png")
    0 0 rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  border-radius: 50%;
  height: 32px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.search-box img {
  width: 60%;
  cursor: pointer;
}
.search-box .search-bar {
  border: none;
  padding: 10px 11px;
  background: transparent;
  color: white;
  border-bottom: 1px solid;
  font-size: 16px;
}
.search-box .search-bar::placeholder {
  color: white;
}

.search-bar:focus {
  outline: none;
  border-bottom: 1px solid gray;
  transition: all 1s ease-in-out;
}

.cityHead {
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 603px) {
  h1 {
    font-size: 35px;
  }
  .city {
    width: 100%;
    min-height: 300px;
  }
  .temperature {
    text-align: right;
  }
  .temperature p {
    font-size: 100px;
  }
  .dmy {
    padding-top: 35px;
  }
  .forecast-icon {
    margin: 10px 0;
  }
  .forecast {
    width: 100%;
    padding-bottom: 30px;
  }
}
